body {
  font-family: "Roboto", sans-serif;
}

.location {
  font-size: 1.5rem;
}

.main-temp {
  font-size: 4rem;
  margin-bottom: 0;
}

.weather {
}

.details {
}

.focus {
  display: flex;
  align-items: center;
}
.container {
  border: solid 1px black;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}
